.article-meta {
  font-size: 0.9em;
  font-weight: bold;
  margin-right: 16px;
  display: inline-block;
  height: 20px;
  width: 80px;
}

div {
  background: rgb(243, 243, 243);
  margin: auto;
}

.heading {
  width: 280px;
  height: 36px;
  margin-top: 20px;
  margin-bottom: 16px;
}

.summary1 {
  width: 300px;
  height: 24px;
  margin-bottom: 10px;
}

.summary2 {
  width: 200px;
  height: 24px;
  margin-bottom: 14px;
}

